*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: #0a1332;
}
.first_fone {
	height: 100vh;
	background: url('img/background.jpg');
	background-size: 100%;
}
header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.container{
	height: 80vh;
}

#button_down {
	color: white;
	padding: 20px;
	margin: 20px;
	border-radius: 12px;
	font-size: 30px;
}

.my_projects {
	height: 80vh;
	background-color: aqua;
}

.my_projects li {
	padding: 40px;
	height: 100px;
	background-color: #000000;
}

.my_projects a{
	color: #39bedc;
}

footer h2 {
	height: 20vh;
	padding: 25px;
	font-size: 40px;
	text-shadow: 2px 2px 4px black;
}


