*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background-color: rgb(50, 50, 50);
}
.first_fone {
    height: 100vh; /* 100% высоты окна браузера */
    background: url('img/background.jpg') no-repeat center center;
    background-size: cover; /* растягивает фон на весь блок, сохраняя пропорции */
    background-attachment: fixed; /* опционально: фон не прокручивается */
}
header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;	
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.container {
	height: 90vh;
	margin-top: 3vh;
}

#button_down {
	color: white;
	padding: 20px;
	margin: 20px;
	border-radius: 12px;
	font-size: 30px;
}
.container h2 {
	padding: 100px;
	font-size: 60px;
	padding-bottom: 20px;
}

.my_projects li {
	padding: 40px;
	height: 100px;
}

.my_projects a{
	color: #39bedc;
}

footer {
	height: 16vh;
	font-size: 40px;
	text-shadow: 2px 2px 4px black;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	background-color: rgb(234, 186, 127);
}
footer h2 {
	height: 40px;
	font-size: 40px;
	text-shadow: 2px 2px 4px black;
}


