*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

html{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ffff;
	background: #27353f;
}

header{
	height: 100px;
}

.container{
	min-height: 800px;
	background: url('img/me.jpg') center/cover no-repeat;

}

.container img {
	margin-top: 100px;
	width: 400px;
	border: 20px solid black;
	border-radius: 10px;
}
.container img:hover{
	transform: scale(1.05x);
}

.my_projects {
	display: block;
	left: 10px;
}

.my_projects a{
	color: #39bedc;
}



